html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --accent-color: #404bbf;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  display: block;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================Heder================================*/

.header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  nav .menu {
    display: none;
  }
  .address-section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  nav .menu {
    display: flex;
  }
  .contacts {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0%;
    color: #434455;
  }
  .address {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--slate, #434455);
  }
}

@media screen and (min-width: 1158px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-container {
    max-width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
  }
  .contacts {
    display: flex;
    gap: 40px;
  }
  .address {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

.nav {
  align-items: center;
  display: flex;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex-direction: row;
  padding: 0px;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.studio-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===============================/Main=============================*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("..//images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("..//images/people-office1@2x.png");
  }
}

.hero-container {
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .hero-container {
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-image {
    font-size: 36px;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-container {
    max-width: 768px;
  }
  .hero-image {
    font-size: 56px;
    min-width: 496px;
  }
  .order-bt {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-container {
    max-width: 1440px;
  }
  .order-bt {
    margin-top: 48px;
  }
  .hero-image {
    min-width: 496px;
  }
}

.hero-image {
  font-family: "Roboto", sans-serif;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;

  max-width: 496px;
}

.order-bt {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-bt:hover,
.order-bt:focus {
  background-color: #404bbf;
}

/* ===================== SECTION TWO =================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-container {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
@media screen and (max-width: 1157px) {
  .svg-container {
    display: none;
  }
}

.features-item {
  background-position: center;
}

.feature-container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .section-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .feature-container {
    max-width: 428px;
  }
  .our-features {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px;
  }
  .feature {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
  .text-feat {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .section-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .feature-container {
    max-width: 768px;
  }
  .our-features {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    column-gap: 24px;
    row-gap: 72px;
  }
  .feature {
    text-align: start;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
    flex-basis: calc((100% - 24px) / 2);
  }
  .text-feat {
    font-weight: 500;
  }
}

@media screen and (min-width: 1158px) {
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feature-container {
    max-width: 1158px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .our-features {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1128px;
  }
  .text-feat {
    font-weight: 400;
  }
  .feature {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

.feature {
  color: var(--navyblue, #2e2f42);
  margin-top: 0;
  margin-bottom: 8px;
}

.text-feat {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
}

.our-features {
  margin: 0 auto;
  padding: 0;
}
/*===================What are we doing=======================*/

.section-three {
  padding-bottom: 120px;
}

.doing-cont {
  max-width: 1158px;
}

@media screen and (max-width: 1157px) {
  .section-three {
    display: none;
  }
}
.titles {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.img-doing {
  display: flex;
  gap: 24px;
  padding-left: 0%;
  margin: 0%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.title-doing {
  margin-top: 0%;
  margin-bottom: 72px;
}

.img-doing-item {
  width: calc((100% - 48px) / 3);
}

/*====================Our Team====================*/

.section-four {
  background-color: #f4f4fd;
}

.container-team {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px), (max-width: 757px) {
  .section-four {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container-team {
    min-width: 320px;
    max-width: 428px;
  }
  .img-team {
    display: flex;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container-team {
    max-width: 768px;
  }
  .img-team {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px)) / 2;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .section-four {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container-team {
    max-width: 1158px;
  }
  .img-team {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 72px)) / 4;
    column-gap: 24px;
  }
}

.our-team-title {
  margin-top: 0;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

.team {
  margin-left: auto;
}

.profession {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 0;
  margin-bottom: 8px;
}

.img-team {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.name-prof {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-container {
  padding: 32px 16px;
}

.icon-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 0;
}

.icon-team-item {
  width: 40px;
  height: 40px;
}

.icon-team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: #404bbf;
}

.icon-team {
  fill: var(--icon-color, #f4f4fd);
}

/*======================== Company SVG=====================*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .customers-container {
    max-width: 428px;
  }
  .svg-item {
    width: 190px;

    height: 88px;
  }
  .svg-list {
    column-gap: 16px;
    row-gap: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .customers-container {
    max-width: 768px;
  }

  .svg-item {
    flex-basis: calc((100% - 48px) / 3);
    width: 168px;
    height: 88px;
  }
  .cust-title {
    margin-bottom: 72px;
  }
  .svg-list {
    column-gap: 24px;
    row-gap: 72px;
    display: flex;
    flex-wrap: wrap;
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .section-four {
    padding-top: 120pxpx;
    padding-bottom: 120pxpx;
  }
  .customers-container {
    max-width: 1158px;
  }
  .svg-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
  }
  .svg-item {
    height: 88px;
    width: calc((100% - 5 * 24px) / 6);
  }
}

.svg-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link-cost {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-cost:hover,
.link-cost:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers {
  fill: currentColor;
}

.icon-customers:hover {
  color: #404bbf;
}

.cust-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
/*======================Footer===================*/

.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: baseline; */
}
@media screen and (min-width: 320px) {
  .footer-container {
    max-width: 428px;
    flex-direction: column;
  }
  .logo-text-footer {
    margin-right: auto;
    margin-left: auto;
  }
  .logo-footer {
    text-align: center;
    margin-bottom: 0;
  }
  .text-foot {
    text-align: start;
    margin-bottom: 72px;
  }
  .social-media-footer {
    margin-right: auto;
    margin-left: auto;
  }
  .social-media {
    text-align: center;
  }

  .subscribe {
    text-align: center;
    margin-top: 72px;
  }
  .input-footer {
    width: 100%;
  }
  .subscribe-butt {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .logo-footer {
    text-align: start;
  }
  .logo-text-footer {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .text-foot {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1157px) {
    .footer-container {
      padding-left: 108px;
    }
  }
  /* ---------------SOCIAL MEDIA----------------- */
  .social-media-footer {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .social-media {
    text-align: start;
  }
  .container-form {
    display: flex;
    flex-direction: column;
  }
  /* -------------------SUBSCRIVE----------------- */
  .container-form {
    margin-left: 0px;
  }
  .subscribe {
    text-align: start;
    margin-top: 0;
  }
  .form-footer {
    display: flex;
    gap: 24px;
  }
  .input-footer {
    width: 264px;
  }
  .subscribe-butt {
    margin-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    max-width: 1158px;
  }
  .logo-text-footer {
    padding-left: 0;
    margin-left: 0;
    margin-right: 120px;
  }
  .social-media-footer {
    margin-right: 80px;
  }
  .container-form {
    margin-left: 0;
  }
}

.logo-text-footer {
  text-align: center;
}

.text-foot {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.studio-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  /* text-align: center; */
}

.icon-footer-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.icon-footer-item {
  width: 40px;
  height: 40px;
}

.icon-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #31d0aa;
}

.icon-foot {
  fill: var(--icon-color, #f4f4fd);
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.input-footer {
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.subscribe-butt {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.frame-svg {
  margin-left: 16px;
}
/*===============================container===========================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal-window {
    min-width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    min-width: 408px;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 584px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.input-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 0;
  margin-bottom: 4px;
  display: block;
}
.modal-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 0;
  padding: 8px 16px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.modal-imput:focus {
  border-color: #4d5ae5;
}
.modal-imput:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-btn-send {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  align-items: flex-start;
  display: block;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 20px;
}

.modal-comment {
  margin-bottom: 16px;
}

.comment-imput {
  height: 120px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-imput:focus {
  border-color: #4d5ae5;
}

.chek-box {
  margin-bottom: 24px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color, #8e8f99);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.icon-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-checkbox:checked + .label-checkbox .icon-privacy {
  background-color: var(--accent-color);
  border: none;
  fill: var(--icon-color, #f4f4fd);
}

/* .icon-checkbox {
  opacity: 0;
  transform: scale(0);
} */

.checkbox-link {
  color: var(--link-color, #4d5ae5);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: #ffffff;
}
/*================================ Hover/Focus===========================*/
.addr-port:hover,
.addr-port:focus {
  color: #404bbf;
}
.address:hover,
.address:focus {
  color: #404bbf;
}

.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.studio-menu:hover,
.studio-menu:focus {
  color: #404bbf;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

/* ---------------MOBILE MENU --------------*/
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-togle-icon {
  stroke: #2e2f42;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  fill: #2e2f42;
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0%;
}
.mobile-menu .mobile-studio {
  color: #404bbf;
}

.mobile-contact-ph {
  color: var(--iris, #4d5ae5);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 40px;
  display: block;
}

@media screen and (max-width: 427px) {
  .mobile-contact-ph {
    font-size: 24px;
  }
}
.mobile-contact-mail {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  display: block;
  margin-bottom: 48px;
}
.mobile-contacts {
  padding: 0;
  margin: 0;
}

.mobile-svg-list {
  display: flex;
  gap: 56px;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 427px) {
  .mobile-svg-list {
    gap: 28px;
  }
}

.mobile-item {
  width: 40px;
  height: 40px;
}

.mobile-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon {
  fill: var(--icon-color, #f4f4fd);
}
